name: CI

on:
  create:  # is used for publishing to PyPI and TestPyPI
    tags:  # any tag regardless of its name, no branches
    - >-
      **
    branches-ignore:
    - >-
      **

jobs:
  build:
    if: github.event_name == 'create' && github.ref_type == 'tag'

    runs-on: ubuntu-latest

    steps:
      - name: Self-check
        run: echo Hello from tag

  dep:
    runs-on: ubuntu-latest
    needs:
    - build
    steps:
      - run: echo I am in dep!
